<div class="card" style="width: 18rem;">
<div class="card-header">
{{ site.data.sidebar.page1_list_title }}
</div>
<div class="list-group list-group-flush">
{% for item in site.data.sidebar.page1 %}
<li class="list-group-item"><a href="{{ item.url }}">{{ item.title }}</a></li>
{% endfor %}    
</div>
</div>
<br />
<div class="card" style="width: 18rem;">
<div class="card-header">
{{ site.data.sidebar.page2_list_title }}
</div>
<div class="list-group list-group-flush">
{% for item in site.data.sidebar.page2 %}
<li class="list-group-item"><a href="{{ item.url }}">{{ item.title }}</a></li>
{% endfor %}    
</div>
</div>