<div class="dropdown" id="actions">
<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-github"></i> Tools
</button>
<ul class="dropdown-menu">
<li><a class="dropdown-item" href="{{ page.path | prepend: 'https://github.com/TTNRT/docs/tree/master/' }}" type="button"><i class="bi bi-pencil-square"></i> Edit page</a></li>
<li><a class="dropdown-item" href="{{ page.path | prepend: 'https://github.com/TTNRT/docs/raw/master/' }}" type="button"><i class="bi bi-filetype-raw"></i> View raw</a></li>
</ul>
</div>