<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body>
{% include nav.html %}
<div class="container">
<div class="row">
<div class="col">
{% include sidebar.html %}
<hr />
{% include tools.html %}
</div>
<div class="col">
<h1>{{ page.title }}</h1>
<p>Page last modified at {{ page.last_modified_at | date: '%l:%M %p' }} on {{ page.last_modified_at | date: '%m/%d/%Y' }}</p>
<hr>
{{ content }}
</div>
<div class="col">
{{ content | toc_only }}
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/5.0.0/anchor.min.js"></script>
<script>
anchors.add('h2,h3,h4,h5,h6');
</script>
</div>
</body>
</html>
