<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body>
{% include nav.html %}
<div class="container">
<div class="row">
<div class="col">
{% include sidebar.html %}
{% include toc.html %}
</div>
<div class="col">
{% include tools.html %}
<article>
<h1>{{ page.title }}</h1>
<p>Page last modified at {{ page.last_modified_at | date: '%l:%M %p' }} on {{ page.last_modified_at | date: '%m/%d/%Y' }}</p>
<hr>
{{ content }}
</article>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script>
docsearch({
  appId: 'VUTR627QP3',
  apiKey: '4c305fd113af0b40ee80c56c78ffdd2c',
  indexName: 'ttnrt-search',
  inputSelector: '#search'
});
</script>
</div>
</body>
</html>
